<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<title>Document</title>
</head>
<body>
	<div class="col-md-6">
	<h1>Adicionar</h1>
	<label>Informe seu nome</label>
	<input class="form-control" id="nome">
	<label>Informe seu sobrenome</label>
	<input class="form-control" id="sobrenome">
	<label>Informe seu email</label>
	<input class="form-control" type="email" id="email">
	<br>
	<button class="btn btn-success" id="salvar">Salvar</button>
	</div>
</body>
<script>
let nome = document.getElementById('nome');
let sobrenome = document.getElementById('sobrenome');
let email = document.getElementById('email');
let button =  document.getElementById('salvar');
let id = document.getElementById('id');
button.addEventListener('click',()=>{
	let colaborador = {
		nome:nome.value,
		sobrenome:sobrenome.value,
		email:email.value
	}
	let options = {
		method:'POST',
		body:JSON.stringify(colaborador),
		headers: {
		'Content-Type': 'application/json'
		}
	}
	if(data.id !== undefined){
		let colaborador = {
				id:data.id,
				nome:nome.value,
				sobrenome:sobrenome.value,
				email:email.value
		}
	 options = {
				method:'PUT',
				body:JSON.stringify(colaborador),
				headers: {
				'Content-Type': 'application/json'
				}
			}
	}
	if(data.id === undefined){
	fetch(`/novoColaborador`,options)
	.then(chamaIndex("Esse registro foi inserido com sucesso"));
	}else{
		fetch(`alterar/${data.id}`,options)
		.then(chamaIndex("Esse registro foi altarado com sucesso"));
	}

});
function chamaIndex(mensagem){
	alert(mensagem)
	window.location.href = "/index"
}
var query = location.search.slice(1);
var partes = query.split('?');
var data = {};
partes.forEach(function (parte) {
    var chaveValor = parte.split('=');
    var chave = chaveValor[0];
    var valor = chaveValor[1];
    data[chave] = valor;
});
console.log(data);
 if(data.id !== undefined){
		let xml = new XMLHttpRequest();
		xml.open("GET",`/colaborador/${data.id}`,true);
		xml.onreadystatechange =()=>{
			if(xml.readyState === 4 && xml.status === 200){
				let data = JSON.parse(xml.responseText);
					nome.value = data.nome;
					sobrenome.value = data.sobrenome;
					email.value = data.email;
			}
		}
		xml.send();	 
 }
</script>
</html>